@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');



.navbar-brand {
    font-family: 'Roboto' !important;
    font-weight: bold;
}

.card {
    border-radius: 0px !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .btn-primary
  {
    background-color: #3498DB !important;
    border: none !important;
  }

  


